autoencoder_example/evaluation_data/*
autoencoder_example/training_data/*
autoencoder_example/__pycache__
autoencoder_example/data
autoencoder_example/ae*
autoencoder_example/autoencoder_example.pdf

autoencoder_can/__pycache__
autoencoder_can/out/2016-chevrolet-silverado/*
!autoencoder_can/out/2016-chevrolet-silverado/weights
backups
